/**********************************************************************************

	Project Name: SimpleAdmin CMS Theme
	Project Description: A clean admin theme
	File Name: style.css
	Author: Adi Purdila
	Author URI: http://www.adipurdila.com
	Version: 1.0.0
	
**********************************************************************************/

/* ---------- RESET ---------- */
/* ---------- Based upon 'reset.css' in the 
Yahoo! User Interface Library: 
http://developer.yahoo.com/yui ---------- */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, 
h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

fieldset, img {	border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}

body { font-size: 1em; /* Prevents an IE bug where em's scale out of proportion */ }





/* ---------- CLEARFIX ---------- */
/* For modern browsers */
.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after { clear:both; }

/* For IE 6/7 (trigger hasLayout) */
.cf { zoom: 1; }



/*------------chalam write code here----------*/
/*select box for login page*/
.selectbox{
	margin:0px 0 0 30px;
	border-radius: 4px; 
	 height:20px; 
     width: 120px; 
}
/*end selectbox*/

/* ---------- GENERAL ---------- */
.round {
	border-radius: 0.3125em; /* 5/16 */
	-moz-border-radius: 0.3125em; /* 5/16 */
	-webkit-border-radius: 0.3125em; /* 5/16 */
}

p {
	margin-bottom: 1.25em; /* 20/16 */
	color: #9498a1;
}

.fl { float: left; }
.fr { float: right; }


cite {
	font-style: italic;
	font-weight: bold;
	display: block;
	padding-left: 0.833em; /* 10/12 */
	margin-top: 0.833em; /* 10/12 */
	color: #9498a1;
}






/* ---------- TYPOGRAPHY ---------- */
body, form {
	font-family: "Droid Sans", Helvetica, Arial, sans-serif;
	line-height: 1.125em; /* 18/16 */
}

p, .button, form input, ul#nav li ul, ul#tabs, div.side-menu ul li a, table,
.information-box, .confirmation-box, .error-box, .warning-box, ol, .regular-ul, 
.custom-ul, blockquote, cite { font-size: 0.75em; /* 12/16 */ }

div.content-module-heading span { font-size: 0.625em; /* 10/16 */ }

form p input[type="text"], form p input[type="password"], form p input[type="checkbox"], form p input[type="radio"] { font-size: 1em; /* 12/12. I did 12 because they're contained within a P tag, that has font size of 12px*/ }

h1 { font-size: 1.125em; /* 18/16 */ }
/*h2 { font-size: 0.875em; /* 14/16 */ }
/*h3 { font-size: 0.75em; /* 12/16 */ }
h4 { font-size: 0.685em; /* 11/16 */ }
h5 { font-size: 0.625em; /* 10/16 */ }





/* ---------- COLORS ---------- */
a { color: #2069b4; }
	a:hover { color: #2a2e36; }

p a, p a:hover { border-bottom: 1px dotted; }

.blue {
	background-color: #2069b4;
	color: white;
}
	.blue:hover {
		background-color: #5081b3;
		color: white;
	}





/* ---------- WIDTHS ---------- */
/* Form Inputs Style */
.default-width-input { 
	width: 20.833em; /* Default Value. Equals 250px for the 12px font size */
	border-radius: 5px;
}	

.full-width-input { width: 95%; }




/* ---------- MENU BUTTONS ---------- */
.menu-email { background-image: url("../images/icons/menu/menu-email.png"); }
	

/* ---------- FORMS ---------- */
form label {
	display: block;
	text-transform: uppercase;
	color: #2a2e36;
	margin: 0 0 0.3125em 0;
}

form label.alt-label { text-transform: none; }

form input[type="text"], input[type="password"], textarea {
	border: 1px solid #d9dbdd;
	border-radius:10px;
	padding: 1em 0.625em; /* 16/16 10/16 */
	outline: none;
}
	form input[type="text"]:hover, input[type="password"]:hover, textarea:hover,
	form input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
		border: 1px solid #bbbdbe;
	}
	
form input[type="checkbox"], form input[type="radio"] { margin-right: 0.833em; /* 10/12 */ }

form input[type="submit"] {
	border: none;
	cursor: pointer;
	padding: 0.833em; /* 10/12 */

	background-position: right center;
	padding-right: 3em; /* 36/12 */
	background-repeat: no-repeat;
	font-weight: bold;
	text-transform: uppercase;
}



/* ---------- TOP + HEADER ---------- */
div#top-bar {
	/*background-color: #2a2e36;*/
	padding: 0.625em 0; /* 10/16 */
}

div#header { 
	width:100%;
	margin: 1.25em auto; /* 20/16 */ 
	min-width:1300px;
}

div#header-with-tabs { padding: 1.25em 0 0 0; /* 20/16 */ }

div#login-intro {
	background: transparent url('../images/login-icon.png') no-repeat left center;
	padding: 0.312em 0 0.312em 3.125em;
}
	/*div#login-intro h1 { text-transform: uppercase; margin: 0.312em 0 0 0; }
	/*div#login-intro h5 { color: #9498a1; }*/

a#company-branding img { height: 100px; }	


.custom-ul { list-style-type: none; }

	.custom-ul li {
		background: transparent url('../images/menu-dark-indicator.png') no-repeat left center;
		padding-left: 1.25em /* 10/12 */;
	}



/* ---------- CONTENT ---------- */
div#content {
	background: #f8f9fa url('../images/artwork-pattern.png') repeat-x left bottom;
	border: 1px solid #eeefef;
	width:100%;
	margin:0 auto;
	padding: 0em auto; /* 30/16 */
	min-width:1300px;
}

form#login-form {
	width: 18.75em; /* 300/16 */
	margin: 0 auto;
}

div.content-module-main { padding: 1em; /* 16/16 */ }





/* ---------- FOOTER ---------- */
div#footer {
	text-align: center;
	padding: 1.875em 0; /* 30/16 */
}
/*textbox of login starts */

